<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-mas-storage"
      version="0.1.0">
    <name>MASStorage</name>
    <description>Cordova MASStorage Plugin</description>
    <license>CA Technologies Ltd.</license>
    <keywords>cordova, MASStorage, CA Technologies</keywords>

    <js-module src="www/MASStoragePlugin.js" name="MASStoragePlugin">
        <clobbers target="MASStoragePlugin" />
    </js-module>
    
    <dependency id="cordova-plugin-mas-cli-core" url="https://github.com/ysd24/Cordova-MAS-CLI-Foundation.git" commit="master" />
    
    <!-- iOS -->
    <platform name="ios" >
        <config-file target="config.xml" parent="/*" >
            <feature name="MASStoragePlugin" >
                <param name="ios-package" value="MASStoragePlugin"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/MASStoragePlugin.h" />
        <source-file src="src/ios/MASStoragePlugin.m" />

        <framework src="MASStorage" type="podspec" spec="~> 1.6.10" />

        </platform>
    

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MASStoragePlugin" >
                <param name="android-package" value="com.ca.mas.cordova.storage.MASStoragePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <source-file src="src/android/MASStoragePlugin.java" target-dir="src/com/ca/mas/cordova/storage" />
        <source-file src="src/android/StorageDataMarshaller.java" target-dir="src/com/ca/mas/cordova/storage" />
    </platform>
</plugin>

